<mat-toolbar color="primary"
             class="mat-elevation-z4"
             style="display: flex; justify-content: space-between">
  <div>Next Chess</div>
  <div>
    <mat-slide-toggle #darkModeToggle
                      [checked]="themeService.isDarkMode">
      <small>Dark mode</small>
    </mat-slide-toggle>
  </div>
</mat-toolbar>



<mat-drawer-container>

  <div class="example-sidenav-content">

    <div #boardContainer
         class="board-container">
      <ngx-chess-board #board
                       class="mat-elevation-z5"
                       [lightTileColor]="themeService.boardLightSquareColor"
                       [darkTileColor]="themeService.boardDarkSquareColor"
                       destinationPointColor="#abdaff"
                       sourcePointColor="#abdaff"
                       [showActivePiece]="false"
                       [pieceIcons]="pieceIcons"
                       [size]="size"
                       [drawDisabled]="true"></ngx-chess-board>
    </div>
  </div>

  <mat-drawer #drawer
              class="example-sidenav"
              mode="side"
              position="end"
              [opened]="true"
              style="min-width: 300px; max-width: 300px">
    <div style="padding: 10px">
      <mat-chip-list aria-label="Fish selection">
        <ng-container *ngFor="let move of $moveList | async; even as isEven ">
          <mat-chip>{{move}} {{isEven}}</mat-chip>
        </ng-container>
      </mat-chip-list>
    </div>
    <div style="display: flex; align-items: center; justify-content: center;">
      <button type="button"
              mat-raised-button
              color="primary"
              (click)="startNewGame()">
        New Game
      </button>
    </div>
  </mat-drawer>


</mat-drawer-container>

<!-- <router-outlet></router-outlet> -->